matplotlib
seaborn
plotly

numpy
pandas
polars
pyarrow
ipywidgets
nbconvert

pandera

duckdb
duckdb-engine

skimpy
scipy
statsmodels

scikit-learn
xgboost
lightgbm
catboost

lime

tqdm
loguru
dotenv
typer
ipykernel
papermill
ipython